
<div class="container">
	<div class="row clearfix">
		<div class="col-md-4 column", id="logo-mainpage">
			<div class="logo_img"><%= image_tag "Localhost-3000ly-logo.png" %></div>
    </div>
		<div class="col-md-4 column">
			<ul id="navbar_buttons_list">
				<li id="navbar_buttons"><a href="/new"class="btn btn-danger">New Link</a></li>
				<li id="navbar_buttons"><a href="/all"class="btn btn-danger">Existing Links</a></li>
			</ul>
		</div>
		<div class="col-md-4 column">
		</div>
	</div>
</div>

