<div>
	<%= render partial: "header" %>
</div>
<H1>What would you like to do?</H1>
<li id="navbar_buttons"><a href="/new"class="btn btn-danger">Create a New Link</a></li>
<li id="navbar_buttons"><a href="/all"class="btn btn-danger">See List of Existing Links</a></li>

<h4> To go to an existing link, go to localhost:3000/go/(your code)</h4>
<h4> To see details of an existing link, go to localhost:3000/go/(your code)/preview</h4>