<div>
<div>Website Name: <%=@link.name %> </div>
<div>Website URL: http://<%=@link.url %> </div><br><br>
<div>To access this page, please visit localhost:3000/go/<%=@link.code %> </div>
<div> Page has been accessed <%=@link.views%> time(s)
<% puts @page_content %>
</div>